<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
       
    <bean id="backAction" class="com.zxl.app.action.back.BackAction" scope="prototype">
    	<property name="backService" ref="backService"/>
    </bean>
    <bean id="appAction" class="com.zxl.app.action.AppAction" scope="prototype">
    </bean>
    <bean id="weixinAction" class="com.zxl.app.action.WinxinAction" scope="prototype">
    	<property name="backService" ref="backService"/>
    </bean>
</beans>
